<html>
    <head>
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/angular-resource/angular-resource.min.js"></script>
        <script src="/node_modules/angular-mocks/angular-mocks.js"></script>
        <script src="/js/todo.js"></script>
        <script src="/js/todo/todo.service.js"></script>
        <script src="/js/todo/todo.controller.js"></script>
        <script src="/mocking/ng-apimock.js"></script>
        <title>Todo</title>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    </head>
    <body ng-app="todo">
        <section class="todoapp" id="todo" ng-controller="TodoController as vm">
            <header class="header">
                <h1>todos</h1>
                <form ng-submit="vm.addTodo()">
                    <input type="text" ng-model="vm.description"  size="30"
                           class="new-todo" placeholder="What needs to be done?" autofocus>
                </form>
            </header>

            <!-- This section should be hidden by default and shown when there are todos -->
            <section class="main">
                <ul class="todo-list">
                    <li ng-repeat="todo in vm.todos" ng-class="{completed: todo.completed, view: !todo.completed}">
                        <input id="{{todo.description}}" class="toggle" type="checkbox" ng-model="todo.completed" ng-click="vm.update(todo)">
                        <label ng-bind="todo.description"></label>
                    </li>
                </ul>
            </section>
            <footer class="footer">
                <span class="todo-count"><strong>{{vm.remaining()}}</strong> of <span>{{vm.todos.length}}</span> items left</span>
                <ul class="filters">
                    <li>
                        <a href="" ng-click="vm.fetchTodos()">Refresh</a>
                    </li>
                </ul>
                <!-- Hidden if no completed items are left ↓ -->
                <a href="" class="clear-completed" ng-click="vm.archive()">Clear completed</a>
            </footer>
        </section>
    </body>
</html>